<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>조회하기</title>
</head>
<body>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>요일</th>
            <th>특이사항</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data : ${data}">
            <td th:text="${data.id}"></td>
            <td th:text="${data.name}"></td>
            <td th:text="${data.character}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>